# Docker
USE_DOCKER=

# PostgreSQL
DATABASE_URL="postgres://postgres:admin@127.0.0.1:5432/prm"

# Django
# ------------------------------------------------------------------------------
# General settings
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_ADMIN_URL=admin/

# Security
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost:8000,localhost
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=True

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True


# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Services
# ------------------------------------------------------------------------------

# Mailgun
DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_DOMAIN_NAME=

# Sentry
SENTRY_DSN=

# Redis
REDIS_URL=redis://redis:6379/0

# Celery
CELERY_BROKER_URL=