{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block page_title %}{% translate "Password Reset" %}{% endblock page_title %}

{% block page_subtitle %}
    {% blocktranslate %}Мы отправили вам электронное письмо. Пожалуйста, свяжитесь с нами, если вы не получили его в течение нескольких минут.{% endblocktranslate %}
{% endblock page_subtitle %}

{% block inner %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock %}
