{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block page_title %}{% translate "Verify Your E-mail Address" %}{% endblock page_title %}

{% block page_subtitle %}
    Мы отправили вам электронное письмо для проверки. Перейдите по предоставленной ссылке, чтобы завершить процесс регистрации. Пожалуйста, свяжитесь с нами, если вы не получили его в течение нескольких минут.
{% endblock page_subtitle %}

{% block inner %}
    <a class="btn btn-primary" href="{% url 'account_login' %}">Войти</a>
{% endblock %}
