{% load static %}
{% load l10n %}
{% load i18n %}
{% load humanize %}
{% load dashboard_extras %}

<div id="round" class="tile big_tile"
    hx-get="{% url 'dashboard:poll_token_rounds' %}"
    hx-trigger="every 30s"
    hx-swap="outerHTML">
    <h3 class="big_name">{% translate "Раунды продаж" %}</h3>
    <div class="round_content">
        <div class="table">
            <p class="description">{% translate "Раунд" %}</p>
            <p class="description">{% translate "Цена" %}</p>
            <p class="description">{% translate "Полная стоимость" %}</p>
            <p class="description">{% translate "Прогресс" %}</p>

            {% for token_round in token_rounds %}
                <div class="round_number">
                    {% if token.active_round == token_round %}
                    <img src="{% static 'img/icons/checkbox_active.svg'%}" alt="checkbox_active">
                    {% else %}
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="checkbox">
                    {% endif %}
                    <p class="round_percent">
                        {{ token_round.name }} {{ token_round.percent_share }}%
                    </p>
                </div>
                <p class="price">{{ token_round.currency }} {{ token_round.unit_price|strip_zeros|unlocalize }}</p>
                <p class="total_cost">{{ token_round.currency }} {{ token_round.total_cost|intcomma }}</p>
                <div class="progress-container">
                    <div class="progress-bar">
                        <div class="progress" style="width: {{ token_round.progress|unlocalize }}%"></div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <img class="diagram" src="{% static 'img/icons/diagram.svg'%}" alt="">
    </div >
</div>
