{% load static %}
{% load humanize %}
{% load l10n %}
{% load i18n %}
{% load dashboard_extras %}

<div id="token_active_round" class="round_content"
    hx-get="{% url 'dashboard:poll_active_round' %}"
    hx-trigger="every 30s"
    hx-swap="outerHTML">
    <div class="table">
        <p class="description">{% translate "Раунд" %}</p>
        <p class="description">{% translate "Цена" %}</p>
        <p class="description">{% translate "Осталось токенов" %}</p>
        <p class="description">{% translate "Прогресс" %}</p>

        <div class="round_number">
            <img src="{% static 'img/icons/checkbox_active.svg'%}" alt="checkbox_active">
            <p class="round_percent">
                {{ token.active_round.name }}
                {{ token.active_round.percent_share }}%
            </p>
        </div>
        <p class="price">
            {{ token.active_round.currency }}
            {{ token.active_round.unit_price|strip_zeros|unlocalize }}
        </p>
        <p class="total_cost">
            {{ token.active_round.available_amount|intcomma }}
        </p>
        <div class="progress-container">
            <div class="progress-bar">
                <div class="progress" style="width: {{ token.active_round.progress|unlocalize }}%"></div>
            </div>
        </div>
    </div>
</div >
