{% load humanize %}
{% load i18n %}

<section class="tile tile-lg"
    {% if HTMX_ALLOW_POLLING %}
    hx-get="{% url 'dashboard:poll_user_transactions' %}"
    hx-trigger="every 30s"
    hx-swap="outerHTML"
    {% endif %}>
    <h2 class="big_name">{% translate "История начислений" %}</h2>
    <div class="flexible-table">
        <div class="row row-header">
            <div class="cell">{% translate "От кого" %}</div>
            <div class="cell">{% translate "Тип" %}</div>
            <div class="cell">{% translate "Кол-во токенов" %}</div>
            <div class="cell">{% translate "Дата начисления" %}</div>
        </div>
        {% for transaction in user_transactions %}
            <div class="row">
                <div class="cell">{{ transaction.buyer.username }}</div>
                {% if transaction.reward_type == "admin" %}
                    <div class="cell">{% translate "начисление от сервиса" %}</div>
                    <div class="cell">{{ transaction.reward|intcomma }}</div>
                {% else %}
                    {% if transaction.reward and transaction.buyer.username != user.username %}
                        <div class="cell">{% translate "бонус 5%" %}</div>
                        <div class="cell">{{ transaction.reward|intcomma }}</div>
                    {% else %}
                        <div class="cell">{% translate "покупка" %}</div>
                        <div class="cell">{{ transaction.amount|intcomma }}</div>
                    {% endif %}
                {% endif %}
                <div class="cell">{{ transaction.created_at|date:"d.b.Y" }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        <select id="transactions_size" class="page_amount_selector">
            {% for amount in page_sizes %}
                <option value="{{ amount }}" {% if amount == user_transactions.paginator.per_page %}selected{% endif %}>
                    Показывать по {{ amount }} записей
                </option>
            {% endfor %}
        </select>
        <ul class="pagination">
            {% if user_transactions.has_previous %}
                <li>
                    <a class="page_btn" href="?page={{ user_transactions.previous_page_number }}">
                        &lt;
                    </a>
                </li>
                {% else %}
                <li><span class="page_btn" disabled>&lt;</span></li>
            {% endif %}
            {% for page_num in user_transactions_page_range %}
                {% if page_num == user_transactions.number %}
                    <li><span class="page_btn active_page">{{ page_num }}</li>
                {% elif page_num == user_transactions.paginator.ELLIPSIS %}
                    <li><span class="page_btn">{{ page_num }}</li>
                {% else %}
                    <li><a class="page_btn" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if user_transactions.has_next %}
                <li>
                    <a class="page_btn" href="?page={{ user_transactions.next_page_number }}">
                        &gt;
                    </a>
                </li>
                {% else %}
                <li><span class="page_btn">&gt;</span></li>
            {% endif %}
        </ul>
    </div>
</section>
