{% load humanize %}
{% load i18n %}

<div class="full_tile tile">
    <div class="history_text">
        <h3 class="big_name">{% translate "История начислений" %}</h3>
        {% for transaction in user_transactions %}
            <p>
            {% if transaction.reward and transaction.buyer.username != user.username %}
                {{ transaction.reward|intcomma }}
                {% translate "бонус 5%" %}
            {% else %}
                {{ transaction.amount|intcomma }}
                {% translate "покупка" %}
            {% endif %}
            {{ transaction.buyer.username }}
            {{ transaction.created_at|date:"d.b.Y" }}
            </p>
        {% endfor %}
    </div >
</div>
