{% extends "dashboard/base.html" %}

{% load static %}
{% load l10n %}
{% load i18n %}
{% load humanize %}

{% block inner_top %}
    {{ block.super }}
{% endblock inner_top %}

{% block inner_bot %}
<div class="big_tiles">
    <div id="defi" class="tile big_tile">
        <div class="defi_info">
            <h1 class="defi_name">DeFi Token PRM4ALL</h1>
            <p class="description">{% translate "Получай процент с товарооборота компании!" %}</p>
            <a href="{% url 'dashboard:token' username=user.username %}"><button class="btn btn-slim defi_btn">{% translate "Купить" %}</button></a>
        </div>
    </div>

    {% include 'dashboard/components/token_rounds.html' %}

    <div id="prm" class="tile big_tile">
        <div class="prm_text">
            <h3 class="big_name">Partner<br>Relationship<br>Management</h3>
            <p class="description">{% translate "Стань частью будущего!" %}</p>
            <div class="button_row">
                <button class="btn btn-slim">{% translate "Смотреть презентацию" %}</button>
                <button class="btn btn-slim">{% translate "Скачать PDF" %}</button>
            </div>
        </div>
    </div>
    <div id="video" class="tile big_tile">
        <div class="video_text">
            <h3 class="big_name">{% translate "Видео о проекте" %}</h3>
            <p class="description">{% translate "Революционное приложение для предпринимателей!" %}</p>
        </div>
        <iframe id="prm_video" src="https://www.youtube-nocookie.com/embed/M8Cqf67RZ44" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
{% endblock inner_bot %}
