{% extends "dashboard/base.html" %}

{% load static %}

{% block inner_top %}
    {{ block.super }}
{% endblock inner_top %}

{% block inner_bot %}
<div class="big_tiles">
    <div id="defi" class="tile big_tile">
        <div class="defi_info">
            <h1 class="defi_name">DeFi Token PRM4ALL</h1>
            <p class="description">Получай процент с товарооборота компании!</p>
            <button class="defi_btn">Купить</button>
        </div>
    </div>
    <div id="round" class="tile big_tile">
        <h3 class="big_name">Раунды продаж</h3>
        <div class="round_content">
            <div class="table">
                <p class="description">Round</p>
                <p class="description">Price</p>
                <p class="description">Total cost</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/check_box_active.svg '%}" alt="">
                    <p class="round_percent">1 Раунд 10%</p>
                </div>
                <p class="price">$ 0.001</p>
                <p class="total_cost">$ 100 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg '%}" alt="">
                    <p class="round_percent">2 Раунд 10%</p>
                </div>
                <p class="price">$ 0.005</p>
                <p class="total_cost">$ 500 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg '%}" alt="">
                    <p class="round_percent">3 Раунд 5%</p>
                </div>
                <p class="price">$ 0.01</p>
                <p class="total_cost">$ 500 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg '%}" alt="">
                    <p class="round_percent">4 Раунд 5%</p>
                </div>
                <p class="price">$ 0.05</p>
                <p class="total_cost">$ 2 500 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg '%}" alt="">
                    <p class="round_percent">5 Раунд 3%</p>
                </div>
                <p class="price">$ 0.06</p>
                <p class="total_cost">$ 1 800 000</p>
                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg '%}" alt="">
                    <p class="round_percent">6 Раунд 3%</p>
                </div>
                <p class="price">$ 0.07</p>
                <p class="total_cost">$ 2 100 000</p>
                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg '%}" alt="">
                    <p class="round_percent">7 Раунд 3%</p>
                </div>
                <p class="price">$ 0.08</p>
                <p class="total_cost">$ 2 400 000</p>
                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg '%}" alt="">
                    <p class="round_percent">8 Раунд 1%</p>
                </div>
                <p class="price">$ 0.1</p>
                <p class="total_cost">$ 1 000 000</p>
            </div>
            <img class="diagram" src="{% static 'img/icons/diagram.svg '%}" alt="">
        </div >
    </div>
    <div id="prm" class="tile big_tile">
        <div class="prm_text">
            <h3 class="big_name">Partner<br>Relationship<br>Management</h3>
            <p class="description">Стань частью будущего!</p>
            <div class="button_row">
                <button class="presentation">Смотреть презентацию</button>
                <button class="pdf">Скачать PDF</button>
            </div>
        </div>
    </div>
    <div id="video" class="tile big_tile">
        <div class="video_text">
            <h3 class="big_name">Видео о проекте</h3>
            <p class="description">Революционное приложение для предпринимателей!</p>
        </div>
        <iframe id="prm_video" src="https://www.youtube-nocookie.com/embed/M8Cqf67RZ44" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
{% endblock inner_bot %}
