{% extends "dashboard/base.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %} - Profile{% endblock head_title %}
{% block crumbs_title %}Profile{% endblock crumbs_title %}
{% block page_title %}Profile{% endblock page_title %}

{% block inner_top %}
<div class="profile_tiles">
    <div class="profile_tile tile">
        <div class="profile_info">
            <div class="avatar">
                <img id="avatar-preview" class="avatar_pic" src="{{ request.user.avatar.url }}" alt="Avatar">
                <img id="avatar-select" class="avatar_change" src="{% static 'img/icons/change_img.svg' %}" alt="Change avatar">
            </div>
            <div class="profile_text">
                <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="registration_date description">
                    {% translate "Дата регистрации" %}: {{ user.date_joined|date:"d.m.Y" }}
                </p>
            </div>
            <div class="profile_nums">
                <div id="profile_token_amount" class="profile_amount">
                    <p class="profile_counter">{{ user.token_balance|intcomma }}</p>
                    <p class="description">{% translate "Всего токенов" %}</p>
                </div>
                <div class="profile_amount">
                    <p class="profile_counter">{{ user.children.count }}</p>
                    <p class="description">{% translate "Приглашенных" %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="investor_tile tile">
        <h3 class="invite_text">
            {% translate "Пригласи инвестора в проект<br> и получи 5% в токенах!" %}
        </h3>

    </div>
</div>
{% endblock inner_top %}

{% block inner_bot %}
<div id="settings" class="full_tile tile">
    <div class="settings_text">
        <h3 class="big_name">{% translate "Редактировать профиль" %}</h3>
    </div >
    {% comment %} {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %} {% endcomment %}
    <form id="avatar-form" method="POST" enctype="multipart/form-data" action="{% url 'dashboard:avatar_update' %}">
        {% csrf_token %}
        <input type="file" name="avatar" id="avatar-input" style="display: none;" onchange="handleAvatarSelect()">
        <div id="error-block" class="alert-error"></div>
    </form>
    <form class="form settings_table" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-slim-wide" type="submit">{% translate "Сохранить" %}</button>
    </form>
</div>
{% endblock inner_bot %}


{% block inline_javascript %}
<script defer src="{% static 'js/avatar-update.js' %}"></script>
{% endblock inline_javascript %}
