{% extends "dashboard/base.html" %}

{% load humanize %}
{% load i18n %}
{% load dashboard_extras %}

{% block head_title %} - Team{% endblock head_title %}
{% block crumbs_title %}Team{% endblock crumbs_title %}
{% block page_title %}Team{% endblock page_title %}

{% block inner_top %}
    {{ block.super }}
{% endblock inner_top %}

{% block inner_bot %}
<section class="tile tile-lg">
    <h2 class="big_name">{% translate "Моя команда" %}</h2>
    <div class="flexible-table">
        <div class="row row-header">
            <div class="cell">{% translate "ФИО" %}</div>
            <div class="cell">{% translate "Логин" %}</div>
            <div class="cell">{% translate "Телефон" %}</div>
            <div class="cell">{% translate "Кол-во купленных токенов" %}</div>
            <div class="cell">{% translate "Дата регистрации" %}</div>
            <div class="cell">{% translate "Город" %}</div>
        </div>
        {% for user in user_children %}
            <div class="row">
                <div class="cell">{{ user.full_name }}</div>
                <div class="cell">{{ user.username }}</div>
                <div class="cell">{{ user.phone_number|clean_phone_number }}</div>
                <div class="cell">{{ user.token_balance|intcomma }}</div>
                <div class="cell">{{ user.date_joined|date:"d.b.Y" }}</div>
                <div class="cell">{{ user.settings.city }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        <select id="children_size" class="page_amount_selector">
            {% for amount in page_sizes %}
                <option value="{{ amount }}" {% if amount == user_children.paginator.per_page %}selected{% endif %}>
                    Показывать по {{ amount }} записей
                </option>
            {% endfor %}
        </select>
        <ul class="pagination">
            {% if user_children.has_previous %}
                <li>
                    <a class="page_btn" href="?page={{ user_children.previous_page_number }}">
                        &lt;
                    </a>
                </li>
                {% else %}
                <li><span class="page_btn" disabled>&lt;</span></li>
            {% endif %}
            {% for page_num in user_children_page_range %}
                {% if page_num == user_children.number %}
                    <li><span class="page_btn active_page">{{ page_num }}</li>
                {% elif page_num == user_children.paginator.ELLIPSIS %}
                    <li><span class="page_btn">{{ page_num }}</li>
                {% else %}
                    <li><a class="page_btn" href="?c_page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if user_children.has_next %}
                <li>
                    <a class="page_btn" href="?c_page={{ user_children.next_page_number }}">
                        &gt;
                    </a>
                </li>
                {% else %}
                <li><span class="page_btn">&gt;</span></li>
            {% endif %}
        </ul>
    </div>
</section>

{% include "dashboard/components/transaction_history.html" %}

{% endblock inner_bot %}
