{% extends "dashboard/base.html" %}

{% load humanize %}
{% load i18n %}
{% load dashboard_extras %}

{% block head_title %} - Team{% endblock head_title %}
{% block crumbs_title %}Team{% endblock crumbs_title %}
{% block page_title %}Team{% endblock page_title %}

{% block inner_top %}
    {{ block.super }}
{% endblock inner_top %}

{% block inner_bot %}
<div class="full_tile tile">
    <div class="history_text">
        <h3 class="big_name">{% translate "Моя команда" %}</h3>
        {% for user in user_children %}
            <p>
                {{ user.full_name }}
                {{ user.username }}
                {{ user.phone_number|clean_phone_number }}
                {{ user.token_balance|intcomma }}
                {{ user.date_joined|date:"d.b.Y" }}
                {{ user.settings.city }}
            </p>
        {% endfor %}
    </div >
</div>
<div class="full_tile tile">
    <div class="history_text">
        <h3 class="big_name">{% translate "История начислений" %}</h3>
        {% for transaction in user_transactions %}
            <p>
            {% if transaction.reward and transaction.buyer.username != user.username %}
                {{ transaction.reward|intcomma }}
                {% translate "бонус 5%" %}
            {% else %}
                {{ transaction.amount|intcomma }}
                {% translate "покупка" %}
            {% endif %}
            {{ transaction.buyer.username }}
            {{ transaction.created_at|date:"d.b.Y" }}
            </p>
        {% endfor %}
    </div >
</div>
{% endblock inner_bot %}
