{% extends "dashboard/base.html" %}

{% load static %}
{% load humanize %}
{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load dashboard_extras %}

{% block head_title %} - Token{% endblock head_title %}
{% block crumbs_title %}Token{% endblock crumbs_title %}
{% block page_title %}Token{% endblock page_title %}

{% block inner_top %}
    {{ block.super }}
{% endblock inner_top %}

{% block inner_bot %}
<div id="big_tiles_2" class="big_tiles">
    <div id="round" class="big_tile tile">
        <h3 class="big_name">{% translate "Покупай токены PRM и зарабатывай вместе с нами" %}</h3>
        <div class="round_content">
            <div class="table">
                <p class="description">{% translate "Раунд" %}</p>
                <p class="description">{% translate "Цена" %}</p>
                <p class="description">{% translate "Осталось токенов" %}</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox_active.svg'%}" alt="checkbox_active">
                    <p class="round_percent">
                        {{ token.active_round.name }}
                        {{ token.active_round.percent_share }}%
                    </p>
                </div>
                <p class="price">
                    {{ token.active_round.currency }}
                    {{ token.active_round.unit_price|strip_zeros|unlocalize }}
                </p>
                <p class="total_cost">
                    {{ token.active_round.available_amount|intcomma }}
                </p>
            </div>

        </div >
        <form class="form-slim buy-token-form" method="POST">
            {% csrf_token %}
            {{ buy_token_form|crispy }}
            <input type="hidden" value="{{ token.active_round.unit_price|unlocalize }}" name="current_token_price" id="current_token_price">
            <button class="btn btn-slim" type="submit">{% translate "Купить" %}</button>
        </form>

    </div>

    {% include 'dashboard/components/token_rounds.html' %}

</div>

{% include "dashboard/components/transaction_history.html" %}

{% endblock inner_bot %}


{% block inline_javascript %}
<script src="{% static "js/token-buy-form.js" %}"></script>
{% endblock inline_javascript %}
