{% extends "dashboard/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block inner_top %}
    {{ block.super }}
{% endblock inner_top %}

{% block inner_bot %}
<div id="big_tiles_2" class="big_tiles">
    <div id="round" class="big_tile tile">
        <h3 class="big_name">Покупай токены PRM и зарабатывай вместе с нами</h3>
        <div class="round_content">
            <div class="table">
                <p class="description">Round</p>
                <p class="description">Price</p>
                <p class="description">Осталось токенов</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/check_box_active.svg'%}" alt="">
                    <p class="round_percent">1 Раунд 10%</p>
                </div>
                <p class="price">$ 0.001</p>
                <p class="total_cost">$ 100 000</p>
            </div>

        </div >
        <form class="form-slim buy-token-form" method="POST">
            {% csrf_token %}
            {{ buy_token_form|crispy }}
            <button class="btn btn-slim" type="submit">{% translate "Купить" %}</button>
        </form>

    </div>
    <div id="round" class="tile big_tile">
        <h3 class="big_name">Раунды продаж</h3>
        <div class="round_content">
            <div class="table">
                <p class="description">Round</p>
                <p class="description">Price</p>
                <p class="description">Total cost</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/check_box_active.svg'%}" alt="">
                    <p class="round_percent">1 Раунд 10%</p>
                </div>
                <p class="price">$ 0.001</p>
                <p class="total_cost">$ 100 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="">
                    <p class="round_percent">2 Раунд 10%</p>
                </div>
                <p class="price">$ 0.005</p>
                <p class="total_cost">$ 500 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="">
                    <p class="round_percent">3 Раунд 5%</p>
                </div>
                <p class="price">$ 0.01</p>
                <p class="total_cost">$ 500 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="">
                    <p class="round_percent">4 Раунд 5%</p>
                </div>
                <p class="price">$ 0.05</p>
                <p class="total_cost">$ 2 500 000</p>

                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="">
                    <p class="round_percent">5 Раунд 3%</p>
                </div>
                <p class="price">$ 0.06</p>
                <p class="total_cost">$ 1 800 000</p>
                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="">
                    <p class="round_percent">6 Раунд 3%</p>
                </div>
                <p class="price">$ 0.07</p>
                <p class="total_cost">$ 2 100 000</p>
                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="">
                    <p class="round_percent">7 Раунд 3%</p>
                </div>
                <p class="price">$ 0.08</p>
                <p class="total_cost">$ 2 400 000</p>
                <div class="round_number">
                    <img src="{% static 'img/icons/checkbox.svg'%}" alt="">
                    <p class="round_percent">8 Раунд 1%</p>
                </div>
                <p class="price">$ 0.1</p>
                <p class="total_cost">$ 1 000 000</p>
            </div>
            <img class="diagram" src="{% static 'img/icons/diagram.svg'%}" alt="">
        </div >
    </div>
</div>
<div class="full_tile tile">
    <div class="history_text">
        <h3 class="big_name">История начислений</h3>
    </div>
</div>
{% endblock inner_bot %}
