{% extends 'base.html' %}
{% load static %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="registration">
        <div class="left_part">
            <div class="left_content">
                <h2 class="title_left">Регистрация</h2>
                <p class="grey_text" id="registration_description">Добро пожаловать в Presale PRM4ALL!</p>
                <div class="registration_fields">
                    <form class="form" method="post">
                        <div class="field">
                            <label for="email"><b>Имя</b></label>
                            <input type="text" placeholder="First Name" name="first_name" required>

                        </div>
                        <div class="field">
                            <label for="email"><b>Телефон</b></label>
                            <input type="text" placeholder="8 (999) 999 99 99" name="phone" required>
                        </div>
                        <div class="field">
                            <label for="email"><b>Фамилия</b></label>
                            <input type="text" placeholder="Second name" name="second_name" required>
                        </div>
                        <div class="field">
                            <label for="email"><b>Пароль</b></label>
                            <input type="text" placeholder="*********" name="password" required>
                        </div>
                        <div class="field">
                            <label for="email"><b>Login</b></label>
                            <input type="text" placeholder="Login" name="login" required>
                        </div>
                        <div class="field">
                            <label for="email"><b>Повторите пароль</b></label>
                            <input type="text" placeholder="*********" name="repeat_password" required>
                        </div>
                        <div class="field">
                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="mail@gmail.com" name="email" required>
                        </div>
                        <div class="field">
                            <label for="email"><b>Вас пригласил</b></label>
                            <input type="text" placeholder="Skysadko" name="parent" required>
                        </div>
                    </form>

                </div>
                <div class="checkbox">
                    <input type="checkbox" id="read_white_paper" name="read_white_paper" checked>
                    <label id="label_read_white_paper" for="read_white_paper">Я прочитал WhitePaper и принимаю все условия и политики компании.</label>
                </div >
                <button onclick="document.location={% url 'dashboard' %}" class="register_button">Зарегистрироваться</button>
                <p id="already_exist">Уже есть аккаунт? <a href="{% url 'signin' %}">Войти</a></p>

            </div>
            <div class="left_footer">
                <p class="grey_text">© 2023 PRM4ALL. All Rights Reserved.</p>
            </div>

        </div>
        <div class="right_part">
            <div class="right_content">
                <img id="start_logo" src="{% static 'main/img/prm4 logo.png' %}" alt="PRM4ALL">
                <button class="title_button">Partner Relationship Management</button>
            </div>
            <div class="right_footer">
                <a class="footer_link" href="#">Web 3.0</a>
                <a class="footer_link" href="#">WhitePaper</a>
                <a class="footer_link" href="#">Site</a>
                <a class="footer_link" href="#">Presentation</a>
            </div>
        </div>
    </div>
{% endblock %}