{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    <img id="burger" src="{% static 'main/img/menu_burger.svg' %}" alt="">
    <div class="dashboard_body">
        <div id="sidenav" class="sidenav">
            <div class="side_logo"></div>
            <div class="menu">
                <a  href="{% url 'dashboard' %}" class="menu_item">
                    <img class="menu_icon" src="{% static 'main/img/dashboard_icon.svg' %}" alt="">
                    <p class="menu_name">Dashboard</p>
                </a>
                <a  href="{% url 'token' %}" class="menu_item">
                    <img class="menu_icon" src="{% static 'main/img/token_icon.svg' %}" alt="">
                    <p class="menu_name">Token</p>
                    
                </a>
                <a  href="{% url 'team' %}" class="menu_item active">
                    <img class="menu_icon" src="{% static 'main/img/team_icon_active.svg' %}" alt="">
                    <p class="menu_name">Team</p>
                    <div class="active_line"></div>
                </a>
                <a  href="{% url 'profile' %}" class="menu_item">
                    <img class="menu_icon" src="{% static 'main/img/profile_icon.svg' %}" alt="">
                    <p class="menu_name">Profile</p>
                </a>
                <a  href="{% url 'signin' %}" class="menu_item">
                    <img class="menu_icon" src="{% static 'main/img/sign_out_icon.svg' %}" alt="">
                    <p class="menu_name">Sign Out</p>
                </a>
            </div>
        </div>

        <div id="main" class="main">
            <p class="page_path">Pages / Team</p>
            <div class="tile header">
                
                <div class="page_name_div">
                    <h2 class="page_name">Team</h2>
                </div>
                <div class="bio_part">
                    <button class="invite_link">Ссылка для приглашения</button>
                    <button class="metamask_button">
                        <img src="{% static 'main/img/metamask.svg' %}" alt="">
                    </button>
                    <img class="avatar_icon" src="{% static 'main/img/avatar.png' %}" alt="">
                </div>
            </div>
            <div class="tiles">
                <div id="my_tokens" class="tile little_tile">
                    <img class="tile_icon" src="{% static 'main/img/my_tokens_icon.svg' %}" alt="">
                    <div class="tile_text">
                        <p class="tile_name">Мои токены</p>
                        <p class="tile_counter"> 454 543</p>
                    </div>
                </div>
                <div id="token_sum" class="tile little_tile">
                    <img class="tile_icon" src="{% static 'main/img/sum_icon.svg' %}" alt="">
                    <div class="tile_text">
                        <p class="tile_name">Сумма токенов</p>
                        <p class="tile_counter">$642.39</p>
                    </div>
                </div>
                <div id="token_amount" class="tile little_tile">
                    <img class="tile_icon" src="' %}" alt="">
                    <div class="tile_text">
                        <p class="tile_name">Кол-во токенов в продаже</p>
                        <p class="tile_counter"> 400 000 000</p>
                    </div>
                </div>
                <div id="rate" class="tile little_tile">
                    <img class="tile_icon" src="{% static 'main/img/rate_icon.svg' %}" alt="">
                    <div class="tile_text">
                        <p class="tile_name">Курс токена</p>
                        <p class="tile_counter">$0.001</p>
                    </div>
                </div>
            </div>
            
            
            <div class="full_tile tile">
                <div class="history_text">
                    <h3 class="big_name">Моя команда</h3>
                    
                </div >
            </div>
            <div class="full_tile tile">
                <div class="history_text">
                    <h3 class="big_name">История начислений</h3>
                    
                </div >
            </div>
                <div class="footer">
                    <p class="footer_text">© 2023 PRM4ALL. All Rights Reserved.</p>
                    <a href="#" class="footer_link">Web 3.0</a>
                    <a href="#" class="footer_link">WhitePaper</a>
                    <a href="#" class="footer_link">SmartContract</a>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <script src="{% static 'main/scripts/menu.js' %}"></script>

{% endblock %}
