{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}PRM{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PRM описание!">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">

    {% block css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    
    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}

  </head>

  <body>

    {% comment %} {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %} {% endcomment %}

    {% block content %}
    {% endblock content %}

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% endblock inline_javascript %}

  </body>
</html>
