:root {
    --accent: #2E016C;
    --accent-2: #11047A;
    --accent-vibrant: #4318FF;
    --border-light: #E0E5F2;
    --bg-light: #F4F7FE;
    --text-dark: #2B3674;
    --text-light: #A3AED0;
    --placeholder: #8F9BBA;
    --alert: #ff0000;
    --white: #fff;
}
