@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap&subset=cyrillic-ext);
:root {
  --accent: #2E016C;
  --accent-2: #11047A;
  --accent-vibrant: #4318FF;
  --border-light: #E0E5F2;
  --bg-light: #F4F7FE;
  --text-dark: #2B3674;
  --text-light: #A3AED0;
  --alert: #ff0000;
  --white: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  color: #19033B;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

b {
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #19033B;
}

button {
  background-color: #11047A;
  border-radius: 70px;
  padding: 10px 14px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

button {
  color: white;
}
button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-moz-placeholder {
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

:-ms-input-placeholder {
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-ms-input-placeholder {
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

li,
a,
button,
input,
.btn,
::placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title_left {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 10px;
}

.grey_text {
  color: var(--text-light);
  font-size: 1em;
  font-weight: 400;
}

.registration {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.left_part {
  padding-left: 59px;
  padding-right: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.left_content {
  margin-top: 227px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.left_content > p {
  margin-bottom: 2em;
}

.right_part {
  margin: 0 0.6em 1em 0;
  background: url("../img/Background 5.4.png") center no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 122px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 437px;
}

.left_footer,
.right_footer {
  margin-bottom: 40px;
  -ms-flex-item-align: center;
      align-self: center;
}

.left_footer {
  margin-top: 162px;
}

.right_footer {
  position: absolute;
  bottom: 0;
}

#start_logo {
  width: 100%;
  padding: 10px;
}

.title_button {
  -ms-flex-item-align: center;
      align-self: center;
  background: none;
  border-radius: 26px;
  font-size: 1.1em;
  padding: 22px 95px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2.2px solid rgba(255, 255, 255, 0.2);
}

.alert-block ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

.alert-error {
  color: var(--alert);
}

.form {
  display: grid;
  gap: 24px 22px;
}

.form-lg {
  grid-template-columns: 1fr 1fr;
}

.form-content-sm {
  max-width: 410px;
}

.control-group.error {
  color: var(--alert);
}
.control-group.error .controls .textInput,
.control-group.error .controls .dateinput,
.control-group.error .controls .emailinput {
  border-color: var(--alert);
}
.control-group.error .controls .help-block {
  margin-top: 5px;
}

.control-group .control-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-dark);
  font-size: 0.9em;
  margin-bottom: 13px;
}
.control-group .control-label .asteriskField {
  color: var(--accent-vibrant);
}
.control-group .textInput,
.control-group .dateinput,
.control-group .emailinput {
  background: none;
  border: solid 1px var(--border-light);
  border-radius: 0.8vw;
  width: 100%;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.control-group .textInput::-webkit-input-placeholder,
.control-group .dateinput::-webkit-input-placeholder,
.control-group .emailinput::-webkit-input-placeholder {
  color: var(--text-light);
  font-size: 0.9em;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox {
  gap: 11px;
  margin-top: 50px;
}

.btn {
  width: 100%;
  text-align: center;
  color: var(--white);
}

.btn-primary {
  padding: 20px;
  font-size: 0.9em;
  font-weight: 700;
  background-color: var(--accent);
  margin-top: 1.7vw;
  border-radius: 0.8vw;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: var(--accent-2);
}

.btn-slim,
.btn-slim-wide {
  border: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: 45px;
  background-color: var(--accent-2);
}
.btn-slim:hover, .btn-slim:active, .btn-slim:focus,
.btn-slim-wide:hover,
.btn-slim-wide:active,
.btn-slim-wide:focus {
  background-color: var(--accent-vibrant);
}

.btn-slim {
  padding: 6px 31px;
}

.btn-slim-wide {
  padding: 10px 65px;
}

#already_exist {
  font-size: 0.9em;
  margin-top: 26px;
}

.footer_link {
  color: var(--white);
  font-weight: 500;
  font-size: 0.72vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.footer_link:hover {
  color: var(--text-light);
}

.dashboard_html {
  background-color: var(--bg-light);
}
@media (max-width: 1426px) {
  .dashboard_html .tiles {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .dashboard_html .big_tiles {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 878px) {
  .dashboard_html .sidenav {
    width: 145px;
  }
  .dashboard_html .menu {
    padding-left: 5px;
  }
  .dashboard_html .side_logo {
    height: 65px;
  }
}
@media (max-width: 746px) {
  .dashboard_html .tile_counter {
    font-size: 1.5em;
  }
  .dashboard_html .round_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard_html #video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 31px;
  }
  .dashboard_html .video_text {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .dashboard_html .sidenav {
    position: fixed;
    z-index: 5;
    left: -100%;
    border-radius: 20px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .dashboard_html .menu {
    background-repeat: 20px;
  }
  .dashboard_html .page_path {
    display: none;
  }
  .dashboard_html .header {
    gap: 5px;
    position: fixed;
    z-index: 3;
    left: 0px;
    top: 0px;
    height: 70px;
    border-radius: 0px 0px 20px 20px;
  }
  .dashboard_html .tiles {
    margin-top: 91px;
  }
  .dashboard_html #burger {
    display: block;
  }
}
@media (max-width: 746px) {
  .dashboard_html ._active {
    left: 0;
  }
  .dashboard_html .page_name_div {
    display: none;
  }
  .dashboard_html .bio_part {
    position: absolute;
    right: 10px;
  }
}
@media (max-width: 560px) {
  .dashboard_html .tile_name {
    font-size: 0.8em;
  }
  .dashboard_html .tile_counter {
    font-size: 1em;
  }
  .dashboard_html .little_tile {
    background-image: none;
  }
  .dashboard_html .round_percent,
  .dashboard_html .price,
  .dashboard_html .total_cost {
    font-size: 0.7em;
  }
  .dashboard_html .tiles {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .dashboard_html .invite_link {
    font-size: 0.5em;
  }
}

.dashboard_body {
  height: 100%;
  background-color: var(--bg-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-dark);
}

.sidenav {
  height: 1fr;
  width: 290px;
  background-color: var(--bg-light);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  height: 100%;
  font-size: 1em;
  padding: 0px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.side_logo {
  height: 130px;
  background-color: var(--white);
  margin-bottom: 1px;
  background-image: url("../img/main_logo.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.menu {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 33px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.menu .menu_item:nth-child(3) .menu_icon {
  position: relative;
  top: -2px;
}

.menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: var(--text-light);
  font-weight: 500;
  font-size: 1em;
}

.menu_icon {
  max-width: 23px;
  width: 100%;
  height: auto;
}
.menu_icon path {
  fill: var(--text-light);
}

.menu_name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.active {
  font-size: 1em;
  color: var(--text-dark);
  font-weight: 700;
}
.active .active_line {
  visibility: visible;
}
.active .menu_icon path {
  fill: var(--accent-vibrant);
}

.active_line {
  visibility: hidden;
  height: 100%;
  width: 4px;
  background-color: var(--accent-vibrant);
  border-radius: 70px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.page_path {
  margin-top: 48px;
  margin-bottom: 2px;
  margin-left: 10px;
  color: #707EAE;
  font-size: 0.9em;
}

.header {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_name_div {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.page_name {
  font-size: 1.9em;
  color: var(--text-dark);
}

.bio_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 15px;
}

.invite_link {
  background-color: var(--accent-2);
  border-radius: 70px;
  margin: 0;
  padding: 10px 14px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.metamask_button {
  background-color: var(--white);
  border: none;
}

.avatar_icon {
  max-width: 40px;
  border-radius: 100%;
}

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--white);
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 4px 12px rgba(8, 108, 201, 0.32));
          filter: drop-shadow(0px 4px 12px rgba(8, 108, 201, 0.32));
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 140%;
}

.tiles {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.little_tile {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#my_tokens {
  background-image: url("../img/my_tokens_bg.png");
}

#token_sum {
  background-image: url("../img/sum_bg.jpeg");
}

#token_amount {
  background-image: url("../img/amount_bg.jpeg");
}

.tile_icon {
  display: inline-block;
}

.tile_text {
  display: inline-block;
  margin-left: 18px;
  color: var(--text-light);
  font-weight: 500;
  font-size: 1em;
}

.tile_counter {
  font-weight: 700;
  color: var(--text-dark);
  font-size: 2em;
}

.big_tiles {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.big_tile {
  padding: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#defi {
  background-image: url("../img/amount_bg.jpeg");
  background-size: 75%;
  background-position: 160%;
}

.defi_name {
  font-size: 2.1em;
}

.description {
  color: var(--text-light);
  font-size: 0.9em;
}

.defi_btn {
  margin-top: 23px;
}

#round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.table {
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.9em;
  font-weight: 700;
}

.round_percent,
.price,
.total_cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.round_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big_name {
  font-size: 1.5em;
  color: var(--text-dark);
}

.round_checkbox {
  display: inline-block;
  width: auto;
  padding: 0px;
  margin: 0px;
  margin-right: 14px;
}

.round_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.round_percent {
  margin-left: 14px;
}

#prm {
  background-image: url("../img/prm_laptop.png");
  background-position: 100%;
}

.button_row {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

#video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#prm_video {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.video_text {
  margin-bottom: 14px;
  -ms-flex-item-align: center;
      align-self: center;
}

#burger {
  top: 5px;
  left: 5px;
  position: fixed;
  display: none;
  z-index: 4;
}

.footer {
  margin-top: 33vh;
  gap: 3px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_link,
.footer_text {
  font-size: 0.8em;
  font-weight: 500;
}

.footer_text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--text-light);
}

.footer_link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.full_tile {
  padding: 64px;
  margin-top: 20px;
}

#buy_tokens {
  background: url("../img/buy_guy.png"), -webkit-gradient(linear, left top, left bottom, from(#1B0F3E), to(#2A0A58));
  background: url("../img/buy_guy.png"), linear-gradient(180deg, #1B0F3E 0%, #2A0A58 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 80%;
  color: var(--white);
}

.buy_tokens_description {
  margin-top: 56px;
}

.buy_btn {
  color: #000000;
  background-color: var(--white);
}

.watch_presentation {
  color: var(--white);
  background: none;
}

#buy_button_row {
  margin-top: 41px;
}

#big_tiles_2 {
  grid-template-rows: 1fr;
}

#round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.field_row {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7%;
}

@media (max-width: 1230px) {
  .dashboard_html .profile_tiles {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .dashboard_html .save {
    width: 100%;
  }
  .dashboard_html .settings_table {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 746px) {
  .dashboard_html .profile_tiles {
    margin-top: 91px;
  }
  .dashboard_html .settings_table {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 335px) {
  .dashboard_html .profile_nums {
    gap: 32px;
  }
  .dashboard_html .profile_counter {
    font-size: 1em;
  }
}

.profile_tiles {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.profile_tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/profile_bg.png");
  background-size: 100% 125px;
  background-position: top;
  padding: 17px;
  padding-top: 0%;
}

.profile_info {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar {
  --avatar-wh: 90px;
  position: relative;
  max-width: var(--avatar-wh);
  max-height: var(--avatar-wh);
  width: 100%;
  height: auto;
}
.avatar .avatar_pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid var(--white) 4px;
}
.avatar .avatar_change {
  cursor: pointer;
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.profile_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}
.profile_text p {
  margin-bottom: 10px;
}
.profile_text p:nth-last-child(1) {
  margin-bottom: 0;
}

.name {
  font-weight: 700;
  font-size: 1.25em;
}

.profile_counter {
  font-weight: 700;
  font-size: 1.5em;
}

.profile_nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 62px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 18px;
}

#profile_token_amount {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profile_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.investor_tile {
  background: url("../img/invite_bg.png"), -webkit-gradient(linear, left top, left bottom, from(#22134E), to(#170630));
  background: url("../img/invite_bg.png"), linear-gradient(180deg, #22134E 0%, #170630 100%);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px;
}

.invite_text {
  color: var(--white);
  font-size: 1.5em;
  font-weight: 700;
}

#settings {
  padding: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings_table {
  margin-top: 18px;
  display: grid;
  row-gap: 18px;
  -webkit-column-gap: 6%;
     -moz-column-gap: 6%;
          column-gap: 6%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.settings_table input {
  color: var(--text-light);
}
.settings_table input:active, .settings_table input:focus {
  color: var(--text-dark);
}

@media (max-width: 1200px) {
  .registration {
    grid-template-columns: 100%;
  }
  .registration .right_part {
    border-radius: 0;
    margin: 0;
  }
  .registration .right_part .right_content {
    margin-top: 300px;
    margin-bottom: 40px;
  }
}
@media (max-width: 510px) {
  .form {
    grid-template-columns: 1fr;
  }
  .register_button {
    width: 100%;
  }
  .left_part {
    padding: 14px;
  }
  .title_button {
    font-size: 0.9em;
    padding: 10px 20px;
  }
  .title_left {
    font-size: 1.5em;
  }
  .left_content {
    margin-top: 14px;
  }
}
